/*Aluno: Sara Fernandes Monteiro | RA: 25024107*/

img {
    width: 200px;
    margin-bottom: 10px;

}

.container {
    text-align: center;
    padding: 20px 50px;
}

body {

    font-family: comfortaa;
    align-items: flex-start; /*alinha verticalmente*/
    justify-content: center; /*alinha horizontalmente*/
    height: 100vh;
    display: flex;
    margin: 0;
    background-color: #fff;
}

h1 {
    font-size: 20px;
    margin-bottom: 50px;
}

h2 {
    font-size: 15px;
}



.input-container {
    position: relative;
    margin-bottom: 30px;
}

input {

    border-radius: 50px;
    border: 2px solid rgb(165, 165, 165);
    font-family: comfortaa;
    padding: 12px; 
    padding-left: 45px;
    width: 400px;
    height: 20px;
    transition: 0.3s ease all; /*transiçao da borda*/
    color: rgb(0, 0, 0);
}

label {
    position: absolute;
    left: 40px;
    top: 50%;                /* ✅ faltava */
    transform: translateY(-50%);    
    display: flex;
    align-items: center;
    transition: 0.2s ease all;
    pointer-events: none; /*para clicar no input, e nao no label*/
    font-size: 15px;
    background-color: transparent; /*fundo inicial transparente*/
    padding: 0 4px; /*espaço horizontal para nao cortar as letras*/
    color: #a5a5a5;

}

input:focus + label,
input:not(:placeholder-shown) + label {
    top: -1px;                                      /*ALINHADO NA LINHA DO INPUT*/
    font-size: 14px;
    background-color: #fff;
    color:#25e4d1;

}

/* muda a cor da borda quando o input está preenchido */
input:not(:placeholder-shown) {
    border-color: #25e4d1;
    transition: border-color 0.3s ease;
}

/* Mudança no input todo quando focado */
input:focus {
    border-color: #25e4d1;
    outline: none;
}

button[type="submit"]  {

    padding: 9px 14px;
    border: none;
    border-radius: 50px;
    background-color:#1e87a3;
    color:white;
    cursor: pointer;
    transition: background-color 0.25s ease;
    display: center;
    font-weight: bold;
    width: 140px;
    font-family: comfortaa;
    outline: none;
    margin-top: 20px;

}

button[type="submit"]:hover {
    background-color:#1d6f86 ;
}

.icon {
    position: absolute; 
    left: 12px;
    top: 50%;                
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

