/* ---------- GERAL ---------- */
@media (min-width: 1600px) {
  html { zoom: 1.25; }
}
@media (max-width: 1200px) {
  html { zoom: 1.5; }
}

body {
  font-family: "Comfortaa", sans-serif;
  font-size: 11px;
  background-color: #f6f6f6;
}

/* ---------- BARRA LATERAL ---------- */
.sidebar {
  position: fixed;
  top: 50px;
  left: 0;
  width: 130px;
  height: 100vh;
  background-color: white;
  padding: 10px;
  border-right: 1px solid #ccc;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin: 15px 0;
  font-weight: bold;
}

.sidebar a {
  text-decoration: none;
  color: #1e87a3;
  display: block;
  padding: 10px;
  border-radius: 50px;
  transition: background 0.3s;
  font-size: 10px;
}

.sidebar a:hover {
  background-color: #86d1e6;
  color: white;
  border-radius: 50px;
}

.sidebar a.active {
  background-color: #1e87a3;
  color: white;
}

/* ---------- BARRA SUPERIOR ---------- */
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: white;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 50px;
}

/* ---------- LOCALIZAÇÃO ---------- */
.faculdade-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 10px;
}

.faculdade-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 50px;
  padding: 8px 40px;
  border: 1px solid #25e4d1;
  font-weight: bold;
  font-size: 15px;
  color: #00576f;
  box-shadow: 0 0 3px #25e4d1;
  width: 400px;
}

.instituicao-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
}

.texto-local {
  font-weight: 500;
  color: #000000;
  font-size: 14px;
}

/* ---------- MENU USUÁRIO ---------- */
.user-menu {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 10px;
  font-style: bold;
}

.pessoa-icon {
  width: 18px;
  height: 18px;
}

.user-btn {
  font-weight: 600;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 23px;
  right: 0;
  background: white;
  border: 1px solid #cccccc;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 6px rgba(0,0,0,.15);
  list-style: none;
  padding: 5px 10px;
  width: 150px;
  opacity: 0;
  transform: translateY(-8px);
  pointer-events: none;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.dropdown li {
  width: 100%;
}

.dropdown a {
  position: relative;
  text-decoration: none;
  color: #000000;
  display: block;
  padding: 10px 35px;
  border-radius: 50px;
  transition: background 0.3s;
  font-size: 10px;
}

.dropdown a:hover {
  color: #1e87a3;
}

.user-menu.open .dropdown {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.minha-conta-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
}

/* ---------- CONTEÚDO ---------- */
.pagina-atual {
  margin-top: 75px;
  margin-left: 175px;
  margin-right: 30px;
}

.pagina-ref {
  display: inline-block;
  font-size: 30px;
  color: #1e87a3;
  text-decoration: none;
  margin-bottom: 30px;
  font-weight: bold;
}

/* ---------- BOTÕES ---------- */
button {
  padding: 9px 14px;
  border: none;
  border-radius: 50px;
  background-color: #1e87a3;
  color: white;
  cursor: pointer;
  transition: background-color 0.25s ease;
  display: inline-block;
  font-weight: bold;
  width: 200px;
  font-family: "Comfortaa", sans-serif;
}

button:hover {
  background-color: #1d6f86;
}

.botoes {
  display: flex;
  gap: 8px;
  justify-content: left;
  margin-bottom: 35px;
}

/* ---------- TABELA ---------- */
.container-instituicao {
  background-color: #ffffff;
  width: 85%;
  margin: auto;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  text-align: center;
}

table th {
  background-color: #ffffff;
  color: #1e87a3;
  padding: 10px;
  border-bottom: 2px solid #1e87a3;
  font-weight: bold;
  font-size: 13px;
}

table td {
  padding: 10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 11px;
  font-weight: bold;
}

table tr:hover td {
  background-color: #eefaff;
  transition: background-color 0.3s ease;
}

td.acoes {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn-acao {
  width: 14px;
  height: 14px;
}
